.modal__container {
    width: 1200px;
    height: 80vh;
    background-image: linear-gradient(rgba(165, 167, 183, 0.7), rgba(165, 167, 183, 0.7)), url("../img/modalbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    overflow-x: hidden;
    padding: 15px;
    padding-top: 50px;
    border-radius: 50px;
    position: relative;
}

.modal__close-icon {
    width: 25px;
    height: 25px;
    fill: rgb(255, 2, 2);
}